.teachers-intro {
    margin: 0 1.5rem;
}

.teacher-list {
    padding: 0;
}

.teacher-list li {
    list-style-type: none;
    margin-bottom: 1rem;
    background-color: #fffafd;
}

.teacher-intro {
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column-reverse;
}

.teacher-info {
    padding: 0;
}

.teacher-name {
    text-align: center;
    font-size: 1.75rem;
}

.teacher-info li {
    align-items: center;
    margin-left: 2rem;
}

.teacher-info li i {
    margin-right: .5rem;
}

.teacher-img {
    width: 30%;
    margin: 0 auto;
    border-radius: 50rem;
}

.reason-of-choosing {
    padding: 1rem;
    text-indent: 2em;
    font-size: 1.25rem;
}

@media screen and (min-width: 768px) {
    .teacher-intro {
        flex-direction: row;
    }

    .teacher-list {
        padding-left: 40px;
    }

    .teacher-info {
        padding: 0;
        margin-right: 2rem;
    }

    .teacher-name {
        text-align: left;
    }

    .teacher-img {
        width: auto;
        height: 12rem;
        margin: auto 0;
        border-radius: 50rem;
    }
}